<<<<<<< HEAD
=======
// scss-lint:disable SpaceAfterPropertyColon
>>>>>>> upstream/develop
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'widget/assets/scss/reset';
@import 'shared/assets/fonts/InterDisplay/inter-display';
<<<<<<< HEAD

html,
body {
  font-family: 'InterDisplay', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
=======
@import 'shared/assets/fonts/inter';
@import 'dashboard/assets/scss/next-colors';

html,
body {
>>>>>>> upstream/develop
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  letter-spacing: 0.2px;
}

<<<<<<< HEAD
=======
.font-default {
  font-family:
    'InterDisplay',
    -apple-system,
    system-ui,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Tahoma,
    Arial,
    sans-serif,
    'Noto Sans',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Noto Color Emoji';
}

>>>>>>> upstream/develop
// Taking these utils from tailwind 3.x.x, need to remove once we upgrade
.scroll-mt-24 {
  scroll-margin-top: 6rem;
}

.top-24 {
  top: 6rem;
}

.heading {
  .permalink {
    visibility: hidden;
  }

  &:hover {
    .permalink {
      visibility: visible;
    }
  }
}
<<<<<<< HEAD
=======

.turbolinks-progress-bar {
  background-color: var(--dynamic-portal-color);
}
>>>>>>> upstream/develop
